<H1>HOME</H1>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-4">
			<form>
				<div class="form-group">
					<label for="name">name</label>
					<input type="text" class="form-control" id="name" placeholder="name">
				</div>
				<div class="form-group">
					<label for="price">price</label>
					<input type="text" class="form-control" id="price" placeholder="price">
				</div>
				<div class="form-group">
					<label for="year">year</label>
					<input type="text" class="form-control" id="year" placeholder="year">
				</div>
				<button type="submit" class="btn btn-primary">enviar</button>
			</form>
		</div>
		<div class="col col-lg-8">
			<div class="container-item"></div>
		</div>
	</div>
</div>